* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.wrap {
    padding: 0 5em;
}
.nav {
    flex-flow: nowrap;
    width: 100%;
    background-color: rgb(211, 209, 209);
    height: 30vh;
    justify-content: center;
    align-items: center;
}
.items {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.items > li {
    text-align: center;
    font-size: 24px;
    list-style: none;

}
.items  p {
    font-size: 16px;
}
.logo {
    width:200px;
    background-color: rgb(88, 85, 85);
}
.button {
    text-align: center;
    font-size: 20px;
    margin-left: 2em;
    border: 4px solid white;
    width: 15%;
    border-radius: 15px;
}
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
.content {
    background-color: grey;
    width: 50%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex a {
    padding-right: 1em;
}
.header {
    padding: 1em 0 ;
    width: 80%;
    font-size: 40px;
}
.center-text {
    position: absolute;
    margin:0 auto;
    left: 0;
    right:0;
    width: 30%;
    top:260px;
    font-size: 45px;
    background-color: white;
    text-align: center;
}
.gray {
    background-color: rgb(80, 78, 78);
}
.article {
    text-align: justify;
    
    width: 20%;
    margin:0 auto;
    height: 100%;
}
.article > p {
    text-decoration-line: none;
    font-size: 16px;
    line-height: 2;
}
.article > div {
    padding: 2em 0 ;
    font-weight: 800;
    font-size: 25px;
    text-decoration-line: underline;
}
.middle-content {
    display: flex;
}
.image {
    margin-top: 2em;
    width: 50%;
    background-color: rgb(57, 57, 58);
    border-radius: 1em;

}
.bottom  {
    margin:3em;

   height: 20vh;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}


.content .text {
    font-size: 30px;

    width: 60%;
    margin: 0 auto;
}
.image-content {
    width: 60%;
    margin: 0 auto;
    height: 100%;
    background-color: rgb(85, 85, 85);
}
.profile {
    height: 200px;
    width: 15%;
    background-color: black;
    margin:4em;
    border-radius: 2em;
}
.paragraph {
    line-height: 2;
    width: 70%;
    padding-top: 4em;
    margin: 0 auto;
}
.testimonials {
    padding-bottom: 2em;
    display: flex;
}
.tesimonial {
    line-height: 2.5;
    padding-bottom: 2em;
    width: 40%;
    margin: 0 auto ;
}
.testimonial p {
    margin:0 ;
}
.book-footer {
    padding: 2em 4em;
    justify-content: space-between;
    height: 400px;
    background-color: rgb(83, 82, 82);
}
.book-header {
    line-height: 2;
    flex-basis: 65%;
   
}
.book-image {
    flex-basis: 35%;
    background-color: brown;
}
.book-header > h1 {
    padding-bottom: 1em;
}
.evenly {
    justify-content: space-evenly;
}
.between > li {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: 20px;
    list-style: none;
    
}
li > a {
    font-weight: 200;
    line-height: 2;
    list-style: circle;
    color: rgba(22, 58, 214, 0.514);
}
.newsletter {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 700px;
    background-color: rgb(104, 100, 100);
}
.newsletter h1 , p {
    padding-top: 2em;
}
.img {

    height: 200px;
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgb(211, 211, 212);
   text-align: center;
}
.text {
  align-items:center;
}
.row {
    justify-content: space-evenly;
    background-color: rgb(172, 171, 171);
}
.advert {
   
    text-align: center;
    height: 100vh;
    background-color: rgb(89, 89, 90);
}
.advert h1 ,h3 {
    line-height: 1.6;
    padding-bottom: 1em;
    width: 50%;
    margin: 0 auto; 
}
.advert p {
    padding: 2em 0;
}
.advert-button {
    margin-top: 2em;
    font-weight: 800;
    padding: 1em;
    font-size: 20px;
    border-radius: 0.8em;
    background-color: rgb(255, 250, 250);
    color: rgb(74, 74, 241);
    border: none;
}
.width-50 {
    margin: 0 auto;
width: 50%;
}
.footer {
    background-color: rgb(206, 206, 206);
    display: block;
    text-align: center;
    height: 50vh;
}
.inline-block {
    
    display: inline-block;
}